<div class="row booking_summary">
	<div class="span12">	
		<div class="row">
			<div class="span9">
				<%= simple_form_for(@reservation, :html => {:class => 'form-horizontal' }) do |f| %>
				<%= f.error_notification %>
					
					<fieldset>
						<br /><br />
						<h1>Guest information				<br /><small>Fill out the form to complete your reservation.
						</small></h1><br />
						<div class="row">
	  					<div class="span8">	
								<legend><span>Your</span> name</legend>
							</div>

							<div class="span3">
					  		<label><%= f.input_field :salutation, label: false, collection: ["Mr", "Mrs", "Miss"]%><label>
					  	</div>
					  	<div class="span3">
					  		<label><%= f.input_field :first_name, label: false, placeholder: "First Name..." %></label>
							</div>						  		
					  	<div class="span3">	
								<label><%= f.input_field :first_name, label: false, placeholder: "First Name..." %></label>			  	
							</div>
						</div>
						<br />
						<div class="row">
							<div class="span8">
								<legend><span>Your</span> contact details</legend>
							</div>
							<div class="span3">	
								<label><%= f.input_field :email, label: "Email address"%></label>			  	
							</div>

							<div class="span3">	
								<label><%= f.input_field :email, label: "Email address confirmation"%></label>			  	
							</div>
							
							<div class="span3">	
								<label><%= f.input_field :mobile, label: "Telephone number", placeholder: "####{}-###-####"  %></label> 	
							</div>
						</div>
						<br />
						<div class="row">
							<div class="span8">
								<legend><span>Your</span> address</legend>
							</div>

							<div class="span3">	
								<label>Address <%= f.input_field :address, :rows => 4%></label>
							</div>			

							<div class="span3">
								<label>Suburb <%= f.input_field :suburb%></label>
							</div>
							<div class="span3">
								<label>Postcode <%= f.input_field :postcode%></label>
							</div>

						</div>	
	
						<br />
						<div class="row">
							<div class="span9">
								<legend><span>Any</span> special requests?</legend>
							</div>								

								<%= f.input :special_requests, label: false, input_html: {:rows => 3, :class => "span9"}%>


						</div>

						<div class="row">
							<div class="span9">
								<br />
    						<%= f.button :submit, "Continue", :class =>  "btn btn-primary btn-large book-now pull-right"%>
    					<br />
								<br />
							</div>
						</div>

						

					</fieldset>
				<% end %>		
			</div>
			
			<div class="span3">
				<br /><br />
				<h3><span>Your</span> summary</h3>
				<p>
					Your choosen dates are:
					<div class="pull-left">Arrival : <i>Thu 10, Jan 2013</i></div><br />
					<div class="pull-left">Departure : <i>Fri 11, January 2013</i></div><br />

					<br />
					Your choosen room is:
					<div class="pull-left"><i>A Luxury Room for 2 adults and 1 child</i></div><br />
					<br /><br />
				</p>

			</div>

		</div>
		

		
		
		
	</div>
	
</div></div> <!-- /container -->
